 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h1{
    align-self: stretch;
}
 
.container {
    width: 75%;
    text-align: center;


 
}
 
.content {
    display: flex;
    justify-content: space-between;

}

.video iframe{
box-sizing: border-box;
width: 100%;
height: 60%;
}
 
.video {
    width: 60%;
}
.images{
    width: 40%;
}
 
.images img {
   
    margin: 5% 0% 5% 20%;

    width: 15em;
    height: auto;
    box-sizing: border-box;

}
 
.text {
    width: 84%;
    margin: 20px auto;

    font-size: 90%;
}



iframe{
    height: 40%;
    padding-top: 11%;
}
 
/* Responsive */
@media (max-width:900px) {
    .container {
        width: 90%;
    }
 
    .content {
        flex-direction: column;
        padding: 5% 5% 5% 5%;
     
    }
    .video{
        width: 100%;
    }
 
    .video iframe{
        width: 100%;
        height: 65%;
        min-height: 350px;
    }
    .video .text{
        width: 100%;
    }
 
    .images img {
        flex-direction: column;
    }
}   